
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpdateDetails</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="Stylesheet" href="app.component.css">
    <style>

    .center-container {
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 20px;
    }

    body {
      background-image: url('assets/whitebg2.0.jpg');
    background-size:  auto 50vw 100vh;
    background-position: left top;
    background-repeat: repeat;

    }
  </style>

</head>
<body>


    <nav class="navbar navbar-expand-lg p-3" style="background-color: black;">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-start">
        <a class="navbar-brand" href="#">
          <img src="assets/gymLogo2.jpeg" alt="" width="200" height="60" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link mx-2 active" [routerLink]="['/addTrainer']" routerLinkActive="router-link-active"style="color: #ffffff;">AddTrainer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 active" [routerLink]="['/update-trainer']" routerLinkActive="router-link-active" style="color: #ffffff;">UpdateTrainer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 active" [routerLink]="['/fetch-all']" routerLinkActive="router-link-active" style="color: #ffffff;">RetrieveTrainer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 active" [routerLink]="['/trainer-in-each-city']" routerLinkActive="router-link-active" style="color: #ffffff;">EliteMentors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="#" style="color: #ffffff;">LogOut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


  <div class="center-container mt-5 mb-5">
    <form #ngForm="ngForm" (ngSubmit)="fetchTrainerById()" style="background-color: black; padding: 20px;">
      <!-- Number input -->
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="trainerId" style="color: white">Trainer ID</label>
        <input #trainerIdInput="ngModel" (ngModelChange)="resetNotFoundFlag()" required pattern="[0-9]+" type="text" class="form-control" id="trainerId" [(ngModel)]="id" required
          name="trainerId">

          <div *ngIf="trainerIdInput.invalid && (trainerIdInput.dirty || trainerIdInput.touched)" class="text-danger">
            <div *ngIf="trainerIdInput.errors?.['required']">Trainer ID is required.</div>
            <div *ngIf="trainerIdInput.errors?.['pattern']">Trainer ID contain Numerics only.</div>
          </div>
      </div>

      <!-- Submit button -->
      <div class="col text-center">
        <button data-mdb-ripple-init type="submit" class="btn btn-primary" style="margin-top: 20px;">SEARCH</button>
      </div>
    </form>
  </div>
  <div *ngIf="!notFound">
    <div *ngIf="trainerData">
  <div class="container-fluid mt-5">
    <div class="table-responsive">
      <table class="table table-bordered border-primary text-center">
        <thead>
          <tr>
            <th>Trainer ID</th>
            <th>Trainer Name</th>
            <th>Trainer Experience</th>
            <th>Trainer Description</th>
            <th>Trainer City</th>
            <th>Trainer State</th>
            <th>Trainer Country</th>
            <th>Trainer Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="trainerData">
            <td>{{ trainerData.trainerId }}</td>
            <td>{{ trainerData.trainerName }}</td>
            <td>{{ trainerData.trainerExperience }}</td>
            <td>{{ trainerData.description.descriptionName }}</td>
            <td>{{ trainerData.city.cityName }}</td>
            <td>{{ trainerData.state.stateName }}</td>
            <td>{{ trainerData.country.countryName }}</td>
            <td>{{ trainerData.trainerNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
      </div>
    </div>

    <div *ngIf="notFound" class="text-center">
      <span style="color: red; font-weight: bolder;">Trainer ID not found in the database</span>
    </div>

</body>
</html>
